<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDeO_bL87xbw7q0sofcEH5Jf4YuoavVWE</string>
	<key>GCM_SENDER_ID</key>
	<string>27371757920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>machinetest.com.machineTest</string>
	<key>PROJECT_ID</key>
	<string>uxeloft-7ec44</string>
	<key>STORAGE_BUCKET</key>
	<string>uxeloft-7ec44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27371757920:ios:fa7a32dd5675d71339be05</string>
</dict>
</plist>